



.h1{
  color: black;
    cursor: pointer;
    font-size: 2.5rem;
}

h2{
  
    font-size: 1rem;
    color: rgb(0, 0, 0);

}
h2 span{
color: rgb(0, 0, 0);
font-size: 0.7rem;
}
.icon{
    cursor: pointer;
}

form{
  gap: 0.5rem;
}

.form-control{
  
  border: none;
  background-color: rgb(180, 180, 180);
}
.form-control::placeholder{
  color: black;
}

.division {
  display: inline-block;
  margin: 0 10px;
  height: 35px;
  border-left: 1px solid gray;
  vertical-align: middle;
}

.ubicacion{
  
  text-decoration: none;
  color: yellowgreen;
  margin-left: 3rem;
}
.tu-carrito{
  text-decoration: none;
  color: yellowgreen;
  margin-left: 2rem;
}
.log-in{
  
  width: 14rem;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 0.3rem;
  background-color: rgb(84, 118, 63);
  border-radius: 0.5rem;
}

.enlace {
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.enlace1{
  border-bottom: 2px solid yellowgreen;
}

.layout2{
  padding-top: 7rem;
  display: grid;
  grid-template-columns: 94% 6%;
  
}
.layout2 a{
  text-decoration: none;
  color: rgb(126, 184, 121);
}

.enlace:hover {
  border-bottom: 2px solid yellowgreen;
}

.balloon {
    margin-top: 7rem;
    z-index: 222;
    position: relative;
    display: inline-block;
    padding: 3px;
    background-color: rgb(42, 82, 42);
    color: #ffffff;
    border-radius: 10px;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 1px 5px 15px rgb(20, 20, 20);
  }
  

  
  .balloon2 {
    margin-top: 7rem;
    z-index: 222;
    position: relative;
    display: inline-block;
    padding: 3px;
    background-color:rgb(42, 82, 42);
    color: #f2f2f2;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 1px 5px 15px rgb(20, 20, 20);

  }
  

  .balloon3 {
    margin-top: 7rem;
    z-index: 222;
    position: relative;
    display: inline-block;
    padding: 3px;
    background-color: rgb(42, 82, 42);
    color: #f2f2f2;
    border-radius: 10px;
    font-size: 16px;
    text-decoration: none;
    box-shadow: 1px 5px 15px rgb(20, 20, 20);

  }
 
 


.gandy-abajo{
  margin-left: 10rem;
}
.contenedor-imagen a:hover{
    color: rgb(209, 255, 103);
}
.contenedor-imagen {
    top: 0rem;
    position: relative;
    display: inline-block;
  }
  
  .cuadro-texto {
    position: absolute;
    text-align: center;
    width: 35%;
  }
  
  .cuadro-1 {
    top: -15%;
    left: 57%;
  }
  
  .cuadro-2 {
    top: 10%;
    left: 5%;
  }
  
  .cuadro-3 {
    top: 30%;
    left: 57%;
  }

.contenedor {
    display: flex;
    justify-content: center;
  }
  .contenedor a{
    text-decoration: none   ;
    color: white;
  }
 
  /* Estilo de las imágenes */
  .imagenes {
    position: absolute;
    
    opacity: 0;
    transition: opacity 1s ease-in-out;
    
  }
  /* Estilo de la imagen activa */
  .imagen-activa {
    opacity: 1;
  }


  
  .imagen-pequeña {
    display: block;
  }

  .imagen-grande {
    display: none;
  }

  @media screen and (min-width: 450px) {
    .imagen-pequeña {
      display: none;
    }
    h2{
      color: rgb(226, 226, 226);
      font-size: 1.6rem;
  
  }
  h2 span{
    color: rgb(180, 180, 180);
    font-size: 1rem;
  }
    .imagen-grande {
      display: block;
    }
    .layout{
      display: grid;
      grid-template-columns: 45% 30% auto;
    }



    .balloon {
      width: 15rem;
      margin-top: 6rem;
      margin-left: 24rem;
      z-index: 222;
      position: relative;
      display: inline-block;
      padding: 3px;
      background-color: rgb(42, 82, 42);
      color: #ffffff;
      border-radius: 10px;
      font-size: 15px;
      text-decoration: none;
      box-shadow: 1px 5px 15px rgb(20, 20, 20);
    }
    
  
    
    .balloon2 {
      width: 15rem;
      margin-top: 12rem;
      margin-left: 54rem;
      z-index: 222;
      position: relative;
      display: inline-block;
      padding: 3px;
      background-color:rgb(42, 82, 42);
      color: #f2f2f2;
      border-radius: 10px;
      font-size: 16px;
      text-decoration: none;
      box-shadow: 1px 5px 15px rgb(20, 20, 20);
  
    }
    
  
    .balloon3 {
      width: 15rem;
      margin-top: 23rem;
      margin-left: 33rem;
      z-index: 222;
      position: relative;
      display: inline-block;
      padding: 3px;
      background-color: rgb(42, 82, 42);
      color: #f2f2f2;
      border-radius: 10px;
      font-size: 16px;
      text-decoration: none;
      box-shadow: 1px 5px 15px rgb(20, 20, 20);
  
    }
   
    .card img{
      border-radius: 1rem;
    }
    .card.bg-transparent {
      background-color: transparent;
      border: none;
      
    }
    .card-body {
      background-color: rgba(255, 255, 255, 0.5);
    }
    .container{

      width: 90%;
      margin-left: 3rem;
    }
    
    .chat{
      font-size: 0.5rem;
    }
  }

.container .btn1{
  width: 26rem;
}
  .card.bg-transparent {
    background-color: transparent;
    border: none;
  }
  .card-body {
   
    color: white;
    background-color:transparent;
  }
  
.nosotros{
  margin-left: 1.5rem;
  font-size: 1rem;
  text-decoration: none;
  color: white;
}
  

.video-preview {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 300px;
  height: 200px;
  z-index: 9999;
}
.chat{
  font-size: 0.5rem;
}
